{% extends 'base.html' %} {% block content %}
<div class="content text-center">
    <h5 class="mt-2 mb-2">Заказы клиента: {{ client.name }}</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Total price</th>
            <th scope="col">Date ordered</th>
        </tr>
        </thead>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.total_price }}</td>
            <td>{{ order.date_ordered }}</td>
            <td><a class="btn btn-primary" href="{% url 'order_full' order.id %}" role="button">detail...</a></td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary mt-5 mb-5" href="/index/all_users" role="button">Back</a>
</div>
{% endblock %}