{% extends 'base.html' %} {% block content %}
<div class="content text-center mt-5 mb-5">
    <h2>Задание</h2>
    <p class="h5">Продолжаем работать с товарами и заказами.</p>
    <p class="h5">Создайте шаблон, который выводит список заказанных клиентом товаров из всех его заказов с сортировкой
        по
        времени:</p>

    <ul>
        <p class="h6">за последние 7 дней (неделю)</p>
        <p class="h6">за последние 30 дней (месяц)</p>
        <p class="h6">за последние 365 дней (год)</p>
    </ul>

    <p class="h5">Товары в списке не должны повторятся.</p>
</div>
{% endblock %}