{% extends 'base.html' %} {% block content %}
<div class="content text-center">

    <h2 class="mt-5 mb-5">Заказ №{{ order.id }}</h2>
    <table class="table">
        <tbody>
        <tr>
            <td>Клиент</td>
            <td>{{ order.customer }}</td>
        </tr>
        <tr>
            <td>Продукты</td>
            <td>
                {% for value in order.products.all %}
                {{ value.name }}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Общая сумма</td>
            <td>{{ order.total_price }}</td>
        </tr>
        <tr>
            <td>Дата заказа</td>
            <td>{{ order.date_ordered }}</td>
        </tr>


        </tbody>

    </table>
</div>


{% endblock %}